<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>bili个人简介</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Unrivaled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>

    <!-- mian-content -->
    <div class="main-banner" id="home">

        <!--/banner-->
        <div class="banner-info">
            <div class="w3pvt-logo text-center">
                <h1> <a href="index.html">bili个人简介</a></h1>
            </div>
            <div class="middile-inner-con">
                <div class="tab-main mx-auto">

                    <input id="tab1" type="radio" name="tabs" class="w3layouts-sm" checked>
                    <label for="tab1"><span class="fa fa-home" aria-hidden="true"></span>首页</label>

                    <input id="tab2" type="radio" class="w3layouts-sm" name="tabs">
                    <label for="tab2"><span class="fa fa-users" aria-hidden="true"></span> 关于</label>

                    <input id="tab3" type="radio" class="w3layouts-sm" name="tabs">
                    <label for="tab3"><span class="fa fa-files-o" aria-hidden="true"></span>项目</label>
                    <input id="tab4" type="radio" class="w3layouts-sm" name="tabs">
                    <label for="tab4"><span class="fa fa-envelope" aria-hidden="true"></span> 联系我</label>
                    <section id="content1" class="inner-w3layouts-wrap">
                        <img src="images/admin.jpg" class="admin img-fluid" alt="mobile-image">
                        <h4>你好,我是bili</h4>
                        <h2>个人简介</h2>
                        <p>本人性格热情开朗，待人友好，为人诚实谦虚。工作勤奋，认真负责，能吃苦耐劳，尽职尽责，有耐心。具有亲和力，平易近人，善于与人沟通。
</p>

                    </section>
                    <section id="content2" class="inner-w3layouts-wrap">
                        <h3 class="head-w3ls">我能做什么</h3>
                        <p>超级力量，力量级数4,200磅—25吨在对付普通人时力量会有所收敛，除非对手也是超人类。
超级耐力，对伤害具有减轻的效果
身手非常敏捷和灵活，并有着超人的平衡感
超级的反射神经，反应速度是普通人的四十倍
蜘蛛侠的战斗风格就是活用各种与地平面不同角度的各方平面，以自身的平衡、敏捷和反应并活用蛛丝所构成。
蜘蛛感应（Spider-sense）
拥有非常灵敏的超级感官和有预知危险的能力，结合反射神经可以让他回避绝大部分的攻击与偷袭。除此之外在看不到的环境下也能依此行动自如。在获得能力前从未接受过任何武术训练的蜘蛛侠就是仗此能力躲避和反击对手。
不过此能力只能感应到有危险以及该危险的程度与大致的方向，无法确切表明危险是怎么发生的，而且特定角色能不引起该感应的注意，也可以透过特殊装置干扰、屏蔽，甚至是让蜘蛛侠感到痛苦。
控制手脚产生静电从而拥有吸附的能力，能够像蜘蛛一样在墙上行走，并借此吸附在绝大多数平面位置上
运用在攻击上甚至可以配合本身的超级力量来撕裂对手，但因为太凶残，所以只有在危急时彼得才会使用。除了用来在各种平面上移动外，也能用此能力让面罩不会轻易脱落而暴露真实身份。
蜘蛛丝
实为蜘蛛侠所调配的特殊化学配方制成，平时是液体状态，接触到空气就会变成类似蛛网的物质。能压缩储存于胶囊当中，透过手掌的“蛛网发射器”的控制装置射出蜘蛛丝。蛛丝大约在两个小时后就会自动分解消失，所以不会造成环境上的困扰。韧性极强，甚至能在短时间内束缚住绿巨人。至少可以承受一个一般成年人的重量，甚至是卡车的重量也能承受一定的时间。
用途广泛，蜘蛛侠平常是用来当成交通工具在大楼间摆荡游走，战斗时可依情况利用蛛网发射器调整成球状体作远距离打击、封住对手眼睛、枪口等来制止攻击，也可用来当成护盾、陷阱等。
有时因应剧情需要，蜘蛛侠也会研发有绝缘、防酸、耐火、电击效果的蛛丝配方。
电影方面，2002年至2007年版本为了强调蜘蛛的特性，所以蜘蛛丝改由蜘蛛侠的身体制造，只要摆出特殊的手势（食指、拇指、小指伸出）即可发射；而在2012年的版本中，导演强调要忠于原著，所以还原为以控制器发射。</section>
                    <section id="content3" class="inner-w3layouts-wrap">
                        <h3 class="head-w3ls">我最近工作.</h3>
                        <div class="row news-grids text-center">
                            <div class="col-4 gal-img">
                                <a href="#gal1"><img src="images/g1.jpg" alt="news image" class="img-fluid"></a>
                                <a href="#gal2"><img src="images/g3.jpg" alt="news image" class="img-fluid"></a>


                            </div>
                            <div class="col-4 gal-img">
                                <a href="#gal3"><img src="images/g2.jpg" alt="news image" class="img-fluid"></a>
                                <a href="#gal4"><img src="images/g4.jpg" alt="news image" class="img-fluid"></a>
                            </div>
                            <div class="col-4 gal-img">


                                <a href="#gal5"><img src="images/g5.jpg" alt="news image" class="img-fluid"></a>
                                <a href="#gal6"><img src="images/g6.jpg" alt="news image" class="img-fluid"></a>
                            </div>
                            <!-- popup-->

                        </div>
                    </section>
                    <section id="content4" class="inner-w3layouts-wrap">
                        <h3 class="head-w3ls"> Get In Touch</h3>
                        <form name="contact-form" class="contact-form" method="post" action="#">
                            <div class="row">
                                <div class="col-6 con-gd">
                                    <div class="form-group">
                                        <p>名字*</p>
                                        <input type="text" class="form-control" id="name" placeholder="" name="name" required="">
                                    </div>
                                    <div class="form-group">
                                        <p>邮箱*</p>
                                        <input type="email" class="form-control" id="email" placeholder="" name="email" required="">
                                    </div>

                                </div>
                                <div class="col-6 con-gd">
                                    <div class="form-group">
                                        <p>内容*</p>
                                        <textarea name="Message" placeholder="" required=""></textarea>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group">

                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>

                        </form>
                        <ul class="w3pvt_social_list list-unstyled mt-4">
                            <li>
                                <a href="#" class="w3layouts-icon">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="w3layouts-icon">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="w3layouts-icon">
                                    <span class="fa fa-dribbble"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="w3layouts-icon">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </section>

                </div>
                <!--// banner-inner -->
            </div>
        </div>
        <div class="copy-w3layouts-right text-center pb-3">
            <p>© 2022 bili. 
                <a href="http://w3layouts.com"> bili.</a>
            </p>

        </div>
    </div>
    <!--//main-content-->


</body>

</html>
